<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css" />
    <Link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
    </style>
    <title>GrandPy</title>
  </head>

  <body class="body">

  <header class="header">
    <img id="img" class="img" src="static/img/robot.png" alt="">
    <p class="one">GrandPy</p>
  </header>
  <form id="user-text-form">
    <p>
      <label for="userText"></label>
      <input type="text" id="userText" class="usertext" name="userText" placeholder="ici votre question">
      <input type="submit" class="submit" value="Envoyer">
    </p>
  </form>
  <div class="container">
    <ul class="scroller">
      <li class="messageRobo"> Bip Bip, Que veut tu savoir? Bip</li>
    </ul>
  </div>

  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
  <script src="/static/js/script.js"></script>

  <footer>
    <div class="footer">
      <p>Monfort mehdi</p>
      <a href="https://github.com/mehdi-monfort/P7_GrandPy"><img src= "static/img/git.png" alt="" width="24"></a>
      <a href="https://www.linkedin.com/in/mehdi-monfort/"><img src= "static/img/linkedin.png" alt="" width="24"></a>
    </div>
  </footer>
</html>



